<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <style>@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');</style>
        <link rel="stylesheet" href="./css/styles.css"/>
        <title>Stats4R</title>
    </head>
    <body>
        <h2>Total Males and Females</h2>
        <img src='../static/m2f.png'>
        <h2>Average Age of Males and Females</h2>
        <img src='../static/ages.png'>
        <h2>Seeking</h2>
        <img src='../static/seeking.png'>
    </body>
</html>