<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../static/css/bootstrap.css"/>
        <title>Stats4R</title>
    </head>
    <body>
        <div class='container'>
            <!-- Title -->
            <div class='my-3'>
                <h2>
                    <a href=" ">Stats4R</a>
                </h2>
            </div>

            <!-- Sub-title -->
            <div class='my-3'>
                <h3>Results of <a href="https://www.reddit.com/r/r4r">r4r</a> posts between {{ startdate }} and {{ enddate }}</h3>
            </div>

            <!-- Section 1 -->
            <div  style="background:#f2f5f7" class='jumbotron'>
                <h3>Demographics</h3>
                <div class='row'>
                    <!-- male-female poplation -->
                    <div class='col-6'>
                        <!-- figure tag for caption enabled images -->
                        <figure class='figure'>
                            <img src='../static/population.svg' class="figure-img img-fluid" alt="Responsive image">
                            <figcaption class='figure-caption'>Overall gender composition on subreddit</figcaption>
                        </figure>
                    </div>
                    <!-- average age -->
                    <div class='col-6'>
                        <figure class='figure'>
                            <img src='../static/ages.svg' class="figure-img img-fluid" alt="Responsive image"> 
                            <figcaption class='figure-caption'>Average ages of female and male users</figcaption>
                        </figure>
                    </div>
                </div>
            </div>

            <!-- Section 2 -->
            <div  style="background:#f2f5f7" class='jumbotron'>
                <h3>Who's Seeking Who</h3>
                <div class='row'>
                    <!-- seeking -->
                    <div class='col'>
                        <figure class='figure'>
                            <img src='../static/seeking.svg' class="figure-img img-fluid" alt="Responsive image">
                            <figcaption class='figure-caption'>Number of gender x seeking gender y. In cases where gender x doesn't have a specific preference of who she/he is looking for, they mention 'redditor'</figcaption>
                        </figure>
                    </div>
                </div>
            </div>

            <!-- Section 3 -->
            <div  style="background:#f2f5f7" class='jumbotron'>
                <h3>Interaction</h3>
                <div class='row'>
                    <!-- upvotes  -->
                    <div class='col-6'>
                        <figure class='figure'>
                            <img src='../static/upvotes.svg' class="figure-img img-fluid" alt="Responsive image">
                            <figcaption class='figure-caption'>Average number of upvotes to posts created by males as opposed to posts by females</figcaption>
                        </figure>
                    </div>
                    <!-- comments  -->
                    <div class='col-6'>
                        <figure class='figure'>
                            <img src='../static/comments.svg' class="figure-img img-fluid" alt="Responsive image"> 
                            <figcaption class='figure-caption'>Average number of comments on posts created by males as opposed to posts by females</figcaption>
                        </figure>
                    </div>
                </div>   
            </div>
            
        </div> 
    </body>
</html>