<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="./css/styles.css"/>
        <title>Stats4R</title>
    </head>
    <body>
        <div class="h2-space">
            <h2>Total Males and Females</h2>
        </div>
        <img src='../static/m2f.png'>
        <h2>Average Age of Males and Females</h2>
        <img src='../static/ages.png'>
        <h2>Seeking</h2>
        <img src='../static/seeking.png'>
        </div>
    </body>
</html>